#permissions {
  width: 50%;
}

#submit-permissions {
  display: block;
  margin-top: 20px;
  width: 120px;
  height: 60px;
}

.permission-btn {
  margin-top: 10px;
}

.green {
  border: 2px solid green;
}
